<section class="hiro container grid grid-cols-1 md:grid-cols-2 gap-10">
  <div class="hiro__text items-center md:items-start text-center md:text-left">
    <h1><span>4sv lo-fi radio</span> - discover LoFi Beats Anytime</h1>
    <p>
      Tune in to 21 LoFi radio stations, customize your vibe, and enjoy relaxing
      sounds with a cute companion by your side.
    </p>
    <a
    class="button primory mt-2"
    href="/files/LoFi-Radio-4sv-v2.03.crx">
    Install extension
    </a>
  </div>
  <div class="hiro__extension md:flex hidden">
    <img src="./img/home/1.PNG" alt="4sv-LoFi-Radio" />
  </div>
</section>
