// Color variables
$primary-color: #1e1e1e;
$secondary-color: #b9ff68;
$text-color: #333333;
$bg-color: #ffffff;
$bg-color-darker: #b9ff6855;
$disabled-color: #cccccc;

// Font variables
$font-primary: JetBrains Mono, monospace;
$font-secondary: Nunito, sans-serif;

$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-p: 16px;
$font-size-small: 14px;

$spacing: 16px;
$border-radius: 8px;

// Media queries
$media-desktop: 1535px;
$media-laptop: 1025px;
$media-netbook: 960px;
$media-tablet: 832px;
$media-tablet-small: 672px;
$media-mobile: 480px;
$media-mobile-small: 336px;