<section class="section darker">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <h3><span>Слухай музику</span></h3>
      <div class="slide-content">
        <img src="/img/home/1.PNG" alt="4sv-LoFi-Radio" />
      </div>
    </ng-template>
  
    <ng-template carouselSlide>
      <h3><span>Змінюй теми</span></h3>
      <div class="slide-content">
        <img src="/img/home/2.PNG" alt="4sv-LoFi-Radio" />
      </div>
    </ng-template>
  
    <ng-template carouselSlide>
      <h3><span>Обирай своє радіо</span></h3>
      <div class="slide-content">
        <img src="/img/home/4.PNG" alt="4sv-LoFi-Radio" />
      </div>
    </ng-template>
  
    <ng-template carouselSlide>
      <h3><span>Налаштуй все під себе</span></h3>
      <div class="slide-content">
        <img src="/img/home/3.PNG" alt="4sv-LoFi-Radio" />
      </div>
    </ng-template>
  </owl-carousel-o>
  
</section>